version: 2.1
jobs:
  test:
    working_directory: ~/newman-automation
    docker:
      - image: node
    steps:
      - checkout
      - run: npm install
      - run: node reportToSlack.js
  prerelease:
    working_directory: ~/newman-automation
    machine:
      image: ubuntu-2004:202010-01
    steps:
      - checkout
      - run:
          name: Installing awscli & Setting up profile
          command: |
            sudo  chmod +x install_aws_cli.sh
            aws configure --profile default set region ap-south-1
            cat credentials  >  ~/.aws/credentials
            sudo echo "aws_access_key_id = $AWS_ACCESS_KEY_ID" >> ~/.aws/credentials
            sudo echo "aws_secret_access_key = $AWS_SECRET_ACCESS_KEY" >> ~/.aws/credentials
            cat ~/.aws/credentials
      - run:
          name: Updating and starting dokcer
          command: |
            sudo apt-get update -y
            sudo service docker start         
      - run:
          name: Login to AWS ECR repo
          command: |
            REPOSITORY_URI=971076122335.dkr.ecr.ap-south-1.amazonaws.com/sample
            DOCKER_LOGIN_PASSWORD=$(aws ecr get-login-password  --region ap-south-1)
            echo $DOCKER_LOGIN_PASSWORD
            docker login -u AWS -p  $DOCKER_LOGIN_PASSWORD https://971076122335.dkr.ecr.ap-south-1.amazonaws.com
      - run:
          name: Build and Tag Image
          command: |
            sudo docker build -t $REPOSITORY_URI:NEW .
            sudo docker push "$REPOSITORY_URI:NEW
      
      
  # release:
  #   working_directory: ~/terraform-aws-ecs-cluster
  #   docker:
  #     - image: ruby:2.6.0
  #   steps:
  #     - checkout
  #     - run: ./scripts/ci/common/install-git-crypt.sh
  #     - run: ./scripts/ci/steps/release.sh

workflows:
  version: 2
  pipeline:
    jobs:
      - test:
          filters:
            branches:
              only: circleci-project-setup
      - prerelease:
          requires:
            - test
          filters:
            branches:
              only: circleci-project-setup
      - hold:
          type: approval
          requires:
            - prerelease
          filters:
            branches:
              only: circleci-project-setup
      # - release:
      #     requires:
      #       - hold
      #     filters:
      #       branches:
      #         only: master
