version: 2.1
jobs:
  test:
    working_directory: ~/newman-automation
    docker:
      - image: node
    steps:
      - checkout
      - run: npm install
      - run: npm test
      - run: pwd
      - run: ls
  prerelease:
    working_directory: ~/newman-automation
    machine:
      image: ubuntu-2004:202010-01
    steps:
      - checkout
      - run: sudo apt-get update -y
      - run: sudo service docker start
      - run: docker build -t sample .
      - run: echo "Installing aws cli and pushing the image to aws ecr repo"
      - run: sudo chmod 777 -R  install_aws_cli.sh
      - run: sudo ./install_aws_cli.sh
      - run: sudo echo "export aws_access_key_id=$AWS_ACCESS_KEY_ID" >> ~/.aws/credentials
      - run: cat ~/.aws/credentials
      - run: echo $access_key
      # - run: sudo aws configure set aws_access_key_id $access_key
      # - run: sudo aws configure set aws_secret_access_key $AWS_SECRET_ACCESS_KEY
      # - run: sudo aws configure set default.region $AWS_SECRET_ACCESS_KEY
      # - run: cat  ~/.aws/credentials
      
  # release:
  #   working_directory: ~/terraform-aws-ecs-cluster
  #   docker:
  #     - image: ruby:2.6.0
  #   steps:
  #     - checkout
  #     - run: ./scripts/ci/common/install-git-crypt.sh
  #     - run: ./scripts/ci/steps/release.sh

workflows:
  version: 2
  pipeline:
    jobs:
      - test:
          filters:
            branches:
              only: circleci-project-setup
      - prerelease:
          requires:
            - test
          filters:
            branches:
              only: circleci-project-setup
      - hold:
          type: approval
          requires:
            - prerelease
          filters:
            branches:
              only: circleci-project-setup
      # - release:
      #     requires:
      #       - hold
      #     filters:
      #       branches:
      #         only: master
