version: 2.1
jobs:
  test:
    working_directory: ~/newman-automation
    docker:
      - image: node
    steps:
      - checkout
      - run: npm install
      - run: npm test
      - run: pwd
      - run: ls
  prerelease:
    working_directory: ~/newman-automation
    machine:
      image: ubuntu-2004:202010-01
    steps:
      - checkout
      - run: sudo apt-get update -y
      - run: sudo service docker start
      - run: docker build -t sample .
      - run: echo "Installing aws cli and pushing the image to aws ecr repo"
      - run: ./install_aws_cli.sh AWS_ACCESS_KEY_ID	 AWS_SECRET_ACCESS_KEY	AWS_DEFAULT_REGION	
      - run: cd ~
      - run: cd .aws 
      - run: ls
      - run: cat config
      - run: cat credentials
  # release:
  #   working_directory: ~/terraform-aws-ecs-cluster
  #   docker:
  #     - image: ruby:2.6.0
  #   steps:
  #     - checkout
  #     - run: ./scripts/ci/common/install-git-crypt.sh
  #     - run: ./scripts/ci/steps/release.sh

workflows:
  version: 2
  pipeline:
    jobs:
      - test:
          filters:
            branches:
              only: circleci-project-setup
      - prerelease:
          requires:
            - test
          filters:
            branches:
              only: circleci-project-setup
      - hold:
          type: approval
          requires:
            - prerelease
          filters:
            branches:
              only: circleci-project-setup
      # - release:
      #     requires:
      #       - hold
      #     filters:
      #       branches:
      #         only: master
