version: 2.1

orbs:
  aws-ecr: circleci/aws-ecr@6.2.0
  aws-ecs: circleci/aws-ecs@0.0.11   
workflows:
# Log into AWS, build ,tag with last commit-id and push image to Amazon ECR 
  build_and_push_image_deploy_ecs:
    jobs:
      - aws-ecr/build-and-push-image:
          account-url: AWS_ECR_ACCOUNT_URL
          aws-access-key-id: AWS_ACCESS_KEY_ID
          aws-secret-access-key: AWS_SECRET_ACCESS_KEY
          create-repo: true
          dockerfile: Dockerfile
          region: AWS_DEFAULT_REGION
          repo: '${MY_APP_PREFIX}'
          tag: "varanewman-${CIRCLE_SHA1}"
# Deploy the new image to ecs cluster by updating the service with latest task definition 
      - aws-ecs/deploy-service-update:
          requires:
          - aws-ecr/build-and-push-image
          aws-region: AWS_DEFAULT_REGION
          family: '${MY_APP_PREFIX}-service'
          cluster-name: '${MY_APP_PREFIX}-cluster'
          container-image-name-updates: 'container=${MY_APP_PREFIX}-service,tag=varanewman-${CIRCLE_SHA1}'
