version: 2.1
jobs:
#   terraform-ecr:
#     working_directory: ~/newman-automation/terraform/ecr
#     machine:
#       image: ubuntu-2004:202010-01
#     steps:
#       - checkout:
#          path: ~/newman-automation
#       - run:
#           name: setting up profile for terraform
#           command: |
#             aws configure --profile vara set region ap-south-1
#             cat credentials > ~/.aws/credentials
#             sudo echo "aws_access_key_id = $AWS_ACCESS_KEY_ID" >> ~/.aws/credentials
#             sudo echo "aws_secret_access_key = $AWS_SECRET_ACCESS_KEY" >> ~/.aws/credentials
#             sudo cp -R ~/.aws/credentials /home/ubuntu/
#             cat /home/ubuntu/credentials
#             cat ~/.aws/credentials
#       - run:
#           name: Installing terraform setting up profile for terraform
#           command: |
#             sudo chmod +x install_terraform.sh
#             sudo sh install_terraform.sh
#             sudo terraform init
#             sudo terraform plan --out=ecr-out.json
#             sudo terraform apply --auto-approve
#             sudo terraform output > ecr-repo-url.txt
#       - store_artifacts:
#           path: ecr-repo-url.txt
#           destination: ecr-repo-url.txt
  dockerbuild_ecrpush:
    working_directory: ~/newman-automation/terraform/ecs-task-service
    machine:
      image: ubuntu-2004:202010-01
    steps:
      - checkout
      - run:
          name: Setting up profile
          command: |
            aws configure --profile default set region ap-south-1
            cat credentials > ~/.aws/credentials
            sudo echo "aws_access_key_id = $AWS_ACCESS_KEY_ID" >> ~/.aws/credentials
            sudo echo "aws_secret_access_key = $AWS_SECRET_ACCESS_KEY" >> ~/.aws/credentials
            cat ~/.aws/credentials
      - run:
          name: Updating and starting docker
          command: |
            sudo apt-get update -y
            sudo service docker start         
      - run:
          name: Login to AWS ECR repo
          command: |
            DOCKER_LOGIN_PASSWORD=$(aws ecr get-login-password  --region ap-south-1)
            echo $DOCKER_LOGIN_PASSWORD
            docker login -u AWS -p  $DOCKER_LOGIN_PASSWORD https://971076122335.dkr.ecr.ap-south-1.amazonaws.com
            docker build -t $AWS_ECR_ACCOUNT_URL:NEW-${CIRCLE_SHA1} .
            docker push $AWS_ECR_ACCOUNT_URL:NEW-${CIRCLE_SHA1}
                 
  release:
    working_directory: ~/newman-automation/terraform/ecs-task-service
    docker:
      - image: ruby:2.6.0
    steps:
      - checkout
      - run: ./scripts/ci/common/install-git-crypt.sh
      - run: ./scripts/ci/steps/release.sh

workflows:
  version: 2
  pipeline:
    jobs:
#       - terraform-ecr:
#           filters:
#             branches:
#               only: circleci-project-setup
      - dockerbuild_ecrpush:
#           requires:
#             - terraform-ecr
          filters:
            branches:
              only: circleci-project-setup
      - hold:
          type: approval
          requires:
            - dockerbuild_ecrpush
          filters:
            branches:
              only: circleci-project-setup
      # - release:
      #     requires:
      #       - hold
      #     filters:
      #       branches:
      #         only: master
