version: 2.1
jobs:
  test:
    working_directory: ~/newman-automation
    docker:
      - image: node
    steps:
      - checkout
      - run: npm install
      - run: npm test
      - run: pwd
      - run: ls
  prerelease:
    working_directory: ~/newman-automation
    docker:
      - image: ubuntu
    steps:
      - checkout
      - run: apt-get update -y
      - run: yes | apt-get install systemd
      - run: apt-get install -y docker.io || systemctl enable docker
      - run: systemctl status docker
      - run: pwd
      - run: ls
      - run: docker build -t sample .
  # release:
  #   working_directory: ~/terraform-aws-ecs-cluster
  #   docker:
  #     - image: ruby:2.6.0
  #   steps:
  #     - checkout
  #     - run: ./scripts/ci/common/install-git-crypt.sh
  #     - run: ./scripts/ci/steps/release.sh

workflows:
  version: 2
  pipeline:
    jobs:
      - test:
          filters:
            branches:
              only: circleci-project-setup
      - prerelease:
          requires:
            - test
          filters:
            branches:
              only: circleci-project-setup
      - hold:
          type: approval
          requires:
            - prerelease
          filters:
            branches:
              only: circleci-project-setup
      # - release:
      #     requires:
      #       - hold
      #     filters:
      #       branches:
      #         only: master
